@import './fonts/fontface';
@import './common/variables';
@import './bootstrap/bootstrap.scss';

@import './components/navbar';

@import "layout/home";
@import "layout/mobilisation";
@import "layout/histoire";