//
// Base styles
//

.btn:not(.btn-link) {
  text-transform: uppercase;
}

.btn-link {
  --#{$prefix}btn-font-weight: #{$font-weight-bold};
}

//override couleur de texte
.btn-quaternary {
  @include button-variant($quaternary, $quaternary, $color: $white);
}