#mainNav {
  transition: all 0.3s ease;
  background-color: rgba(#fff, .3);
  backdrop-filter: blur(8px);
  margin: 2rem 1rem;
  border-radius: $border-radius-2xl;
  border: 1px solid $secondary;

  &.scrolled {
    background-color: rgba(#fff, .4);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 12px rgba(#000, 0.1);
  }
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}