


{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
  <!-- Hero -->
  <div class="text-center my-5">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h1 class="display-4">PHI</h1>
      <p class="lead">Ceci est un exemple de page avec une navbar fixe, un hero et un footer inclus.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </div>
  </div>

  <!-- Contenu supplémentaire -->
  <div class="row">
    <div class="col-md-4">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-md-4">
      <h3>Section 2</h3>
      <p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
    </div>
    <div class="col-md-4">
      <h3>Section 3</h3>
      <p>Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
    </div>
  </div>
{% endblock %}