@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
}