// Color system
//
//

// scss-docs-start theme-color-variables
$primary: #01664a;
$secondary: #b5d59a;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Comfortaa", "Helvetica Neue", "Liberation Sans", Arial, sans-serif;



